.container
  .row
    .span9
      .header-big.center-responsive
        %h1 Cardápio
      = render 'util/promotion'
      .row
        .span3.center-responsive
          - @site.info["#{params['type']}_categories"].each do |category|
            - if params["category"] == category['id'].to_s
              %h2= category['description']
        - if params['type'] == 'pizza'
          .span6.center-responsive{:style => "text-align: right;"}
            .form-select
              .selected= @pizzas['data']['pizza_sizes'].first['description']
              .arrow
                %img{:alt => "", :src => "/assets/form-select-arrow.png"}/
              %ul.options.nav.nav-tabs
                - @pizzas['data']['pizza_sizes'].each do |pizza_size|
                  %li
                    %a{"data-toggle" => "tab", href: "#pizza_size_tab_#{pizza_size['id']}"}= pizza_size['description']

      - if params['type'] == 'pizza'
        .tab-content
          - @pizzas['data']["pizza_sizes"].each_with_index do |pizza_size, index|
            .tab-pane{id: "pizza_size_tab_#{pizza_size['id']}", class: (index == 0 ? 'active' : '')}
              %table.menu
                %colgroup{:style => "width: 30%;"}
                %colgroup{:style => "width: 60%;"}
                %colgroup{:style => "width: 10%;"}
                %thead
                  %tr
                    %th.col1 Nome
                    %th.col2 Ingredientes
                    %th.col3 Preço
                %tbody
                  - pizza_size['pizza_flavors'].each do |pizza_flavor|
                    - if pizza_flavor['pizza_category_id'] == params['category'].to_i
                      %tr.row-odd
                        %td.col1= pizza_flavor['description']
                        %td.col2= pizza_flavor['ingredients']
                        %td.col3= number_to_currency(pizza_flavor['value'])
      - else
        %table.menu
          %colgroup{:style => "width: 30%;"}
          %colgroup{:style => "width: 60%;"}
          %colgroup{:style => "width: 10%;"}
          %thead
            %tr
              %th.col1 Nome
              %th.col2 Ingredientes
              %th.col3 Preço
          %tbody
            - @items['data'].each do |item|
              %tr.row-odd
                %td.col1= item['description']
                - if params['type'] == 'product'
                  %td.col2= item['info']
                %td.col3= number_to_currency(item['value'])


    = render 'util/right_bar'
