.container
  .row
    .span9
      .header-big.center-responsive
        %h1 Regiões atendidas
      = image_tag "http://maps.googleapis.com/maps/api/staticmap?markers=color:blue%7Clabel:S%7C#{@site.info['address']['latitude']},#{@site.info['address']['longitude']}&size=700x367&sensor=true"
      %p= @site.info['about']
      .row
        - @site.info['delivery_infos'].in_groups(2).each do |d|
          .span4
            %ul.list-tick
              - d.each do |delivery_info|
                - if delivery_info
                  %li= delivery_info['description']
    = render 'util/right_bar'
